<section>
  <div class="form">
    <h3>Login</h3>
    <form action="">
      <!-- Username Input -->
      <label for="name">Enter Username</label>
      <input
        type="text"
        placeholder="User"
        name="name"
        id="name"
        class="form-input"
      />
      <!-- Password Input -->
      <label for="password">Enter Password:</label>
      <input
        type="password"
        placeholder="Password"
        name="password"
        id="password"
        class="form-input"
      />
      <button type="submit"> Login</button>
    </form>
  </div>
</section>
